<div class="section">
  <div class="section-header">
    <h1>BuyClub</h1>
  </div>
  <div class="section-body">
    <h4>Welcome to BuyClub</h4>
    <p>
      A website where buyers carry out their quotations jointly, in order to attract more suppliers due to the volume to be negotiated.
    </p> <br>
    <p>During the quotation, the supplier will present its offers for the items, pointing out the brand and technical details of its products, and it is also possible to offer promotions and bonuses.
    </p> <br>
    <p>
Once the offers are chosen, the system will automatically send all the purchase orders issued to the suppliers, individually separated by buyers, pointing out the commercial conditions and billing for each delivery.
    </p>
  </div>
</div>